@{
	ViewData["Title"] = "On My Own";
}
<div class="row">
	<h1 class="display-4">About This Project</h1>

	<p class="col-sm-6">
		This is a generic about page. This page may grow in the future, but for now
		it will proudly remain mostly empty. The same will happen with the rest of
		the project. Have a banana or two. 9/10 doctors recommend fresh fruit,
		and the 10th is doctor pepper.
	</p>
	<p>
		<img src="~/Images/BananaPhone.jpg" alt="Banana Phone" style="border-radius: 20px;"
			 class="img-fluid rounded" />
		<i class="material-icons" style="font-size:24px; color:yellow; background-color:lightblue;">brightness_3</i>
	</p>
</div>