@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Home Page</h1>
    <p>This is my generic home page, and to prove it, here is a picture of a home.</p>
    <img src="~/Images/House.jpg" alt="House" style="border-radius: 20px;" class="img-fluid rounded" />
</div>
