@{
	ViewData["Title"] = "The Banana Men co.";
}
<h2>The Banana Men</h2>

<p>
	Here at The Banana Men, we believe everyone deserves a chance to have a banana
	phone. We seek to provide that opportunity with better quality and cheaper prices
	than anyone else in this market.
</p>
<p>
	Now, you may be wondering what this has to do with a calculator. We give people 
	this calculator so they can find out just how much money you save buying our
	phone outright instead of making monthly payments on your expensive iPhone.
</p>
<p>
	Call 800.422.6262 now if you want to talk to a real person about getting yourself
	or a loved one a banana phone.
	<img src="~/Images/BananaPhone.jpg" alt="Banana Phone" 
		style="border-radius: 20px; width: 100%;" class="col-md-4" />
</p>