@{
ViewData["Title"] = "The Banana Men co.";
}
<h2>The Banana Men</h2>
<h3>Helping people use banana phones for over 10 years.</h3>

<address>
360 Banana Eneg Dr<br />
Traverse City, MI 36000<br />
<abbr title="Phone">P:</abbr>
800.422.6262
</address>

<address>
	<strong>Tech Support:</strong> <a href="BananaHelp@thebananamen.com">BananaHelp@thebananamen.com</a><br />
	<strong>Sales/Marketing:</strong> <a href="TheBananaMan@thebananamen.com">TheBananaMan@thebananamen.com</a>
</address>